<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Healthier Recipes</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto justify-content-center">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Course</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Item1</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Item2</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Cuisine</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Item1</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Item2</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Dietary</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Item1</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Item2</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Main Ingredient</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Item1</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Item2</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Occasion</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="">Item1</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="">Item2</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						ProfilePic
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Item1</a></li>
						<div class="dropdown-divider"></div>
						<li class="dropdown-submenu">
							<a class="dropdown-item dropdown-toggle">Item2</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="">Subitem 1</a></li>
								<li><a class="dropdown-item" href="">Subitem 2</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<script src="listener.js">

					document.addEventListener('DOMContentLoaded', function () {

					});
				</script>

			</ul>
		</div>
	</div>
	</div>
</nav>