<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${recipe.name}"></title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<link href="/style.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
	<style>
		button {
			border-radius: 4px;
		}

		a {
			color: rgb(0, 0, 0);
			text-decoration: none;
		}
	</style>
</head>

<body>
	<div class="custom-container">
		<div th:replace="fragments/navbar"></div>
	</div>
	<div class="container" style="width: 60%;">
		<table style="width: 100%;">
			<tr>
				<td rowspan="4">
					<img th:src="@{/images/{imageName}(imageName=${recipe.image})}" alt="Recipe Image">
				</td>
				<td colspan="3">
					<h1 th:text="${recipe.name}"></h1>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="star-rating">
						<span class="star"
							th:style="'color: ' + (${recipe.rating} >= 1 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
						<span class="star"
							th:style="'color: ' + (${recipe.rating} >= 2 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
						<span class="star"
							th:style="'color: ' + (${recipe.rating} >= 3 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
						<span class="star"
							th:style="'color: ' + (${recipe.rating} >= 4 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
						<span class="star"
							th:style="'color: ' + (${recipe.rating} >= 5 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
					</div>
					&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <span th:text="${recipe.rating}"></span>
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>
					<button type="button" th:id="${recipe.id}"
						onclick="window.location.href='/recipe/review/' + this.id">
						Review
					</button>
				</td>
				<td>
					<p><span th:text="${numberOfUserRatings}"></span> Reviews</p>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<button type="button" th:id="${recipe.id}" th:if="${ifsave}"
						onclick="window.location.href='/recipe/save/' + this.id">Save
					</button>
					<button type="button" th:id="${recipe.id}" th:unless="${ifsave}"
						onclick="window.location.href='/recipe/unsubscribe/' + this.id">UnSave
					</button>

				</td>
				<!--<td><button type="button" th:id="${recipe.id}"
						onclick="window.location.href='/recipe/save/' + this.id">Save</button></td>-->
				<td>
					<p><span th:text="${recipe.numberOfSaved}"></span> saved</p>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="button" th:id="${recipe.id}"
						onclick="window.location.href='/report/reportRecipe/' + this.id">Report</button>
				</td>
				<td>
					<button type="button" onclick="window.location.href='/'">Back</button>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p><b>Created By: </b>
						<a th:href="@{/user/profile/{userId}(userId=${recipe.member.id})}"
							th:text="${recipe.member.username}"></a>
					</p>
				</td>
				<td>
					<p><b>Recipe Id: </b><span th:text="${recipe.id}"></span></p>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<p><b>Tags: </b><span th:each="tag : ${recipe.tags}"><span
								th:text="${tag}"></span>&nbsp;&nbsp;&nbsp;</span></p>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<p><b>Serving size: </b><span th:text="${recipe.servings}"></span> &nbsp;&nbsp;&nbsp; |
						&nbsp;&nbsp;&nbsp; <b>Preparation Time: </b><span th:text="${recipe.preparationTime}"></span>
						minutes</p>
				</td>
			</tr>
		</table>
		<br />
		<div class="page-divide-container">
			<div class="two-thirds-column" style="margin-right: 30px;">
				<div>
					<h3 style="margin-right: 10px;">Ingredients &nbsp;&nbsp;&nbsp;<button type="button"
							onclick="window.location.href='/user/shoppingList/add'"
							style="height: 30px; font-size: 14px;">Add to Shopping List</button></h3>
					<ul th:each="ingredient : ${recipe.ingredients}">
						<li th:text="${ingredient.foodText}"></li>
					</ul>
				</div>
				<br />
				<div>
					<h3>Steps</h3>
					<table style="margin-left:auto; margin-right: auto; width:100%">
						<tr th:each="step, iterStat : ${recipe.steps}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${step}"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="one-third-column">
				<div>
					<h3>Health Score</h3>
					<h4 th:text="${recipe.healthScore} + ' / 6'" style="text-align: center;"></h4>
				</div>
				<br />
				<div>
					<h3>Nutritional Info</h3>
					<table style="margin-left:auto; margin-right: auto; width:100%; text-align: center;">
						<tr>
							<td>Nutrient</td>
							<td>% Daily Value</td>
						</tr>
						<tr>
							<td>Calories</td>
							<td th:text="${recipe.calories}"></td>
						</tr>
						<tr>
							<td>Protein</td>
							<td th:text="${recipe.protein}"></td>
						</tr>
						<tr>
							<td>Carbohydrate</td>
							<td th:text="${recipe.carbohydrate}"></td>
						</tr>
						<tr>
							<td>Sugar</td>
							<td th:text="${recipe.sugar}"></td>
						</tr>
						<tr>
							<td>Sodium</th>
							<td th:text="${recipe.sodium}"></td>
						</tr>
						<tr>
							<td>Fat</th>
							<td th:text="${recipe.fat}"></td>
						</tr>
						<tr>
							<td>Saturated Fat</th>
							<td th:text="${recipe.saturatedFat}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<br />
		<div>
			<h3>Reviews</h3>
			<p style="text-align: center;" th:if="${#lists.isEmpty(recipe.reviews)}">No Reviews Yet</p>
			<div th:if="${not #lists.isEmpty(recipe.reviews)}">
				<div th:each="review : ${recipe.reviews}">
					<div class="card">
						<div class="card-body">
							<div class="user-profile" style="display: flex;">
								<img src="/user.png" style="width: 40px; height: 40px; margin-right: 8px;">
								<h5 class="card-title" th:text="${review.member.username}">Name</h5>
							</div>
							<div class="star-rating">
								<span class="star"
									th:style="'color: ' + (${review.rating} >= 1 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
								<span class="star"
									th:style="'color: ' + (${review.rating} >= 2 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
								<span class="star"
									th:style="'color: ' + (${review.rating} >= 3 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
								<span class="star"
									th:style="'color: ' + (${review.rating} >= 4 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
								<span class="star"
									th:style="'color: ' + (${review.rating} >= 5 ? 'gold' : 'darkgrey') + ';'">&#9733;</span>
							</div>
							<p class="card-text" style="margin-left: 48px;" th:text="${review.comment}">Review Content</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>