<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title th:text="${recipe.name}"></title>
	    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	    <link href="/style.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="container">
			<table style="width: 100%;">
				<tr>
					<td rowspan="5">
						<img th:src="@{/images/{imageName}(imageName=${recipe.image})}" alt="Recipe Image">
					</td>
					<td colspan="3">
						<h1 th:text="${recipe.name}"></h1>
					</td>
				</tr>
				<tr>
					<td colspan="2">stars + rating</td>
					<td><p><span th:text="${numberOfUserRatings}"></span> rated</p></td>
				</tr>
				<tr>
					<td><button type="button" onclick="window.location.href='/recipe/save/' + '${recipe.id}'">Save</button></td>
					<td><p><span th:text="${recipe.numberOfSaved}"></span> saved</p></td>
					<td><button type="button" onclick="window.location.href='/report/reportRecipe/' + '${recipe.id}'">Report</button></td>
				</tr>
				<tr>
					<td colspan="2">
						<p>Created By: 
						<a th:href="@{/user/profile/{userId}(userId=${recipe.member.id})}" th:text="${recipe.member.username}"></a >
						</p> 
					</td>
					<td>
						<p>Recipe Id: <span th:text="${recipe.id}"></span></p>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<p>Tags: <span th:each="tag : ${recipe.tags}"><span th:text="${tag}"></span>&nbsp;&nbsp;&nbsp;</span></p>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<p>Serving size: <span th:text="${recipe.servings}"></span> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Preparation Time <span th:text="${recipe.preparationTime}"></span></p>
					</td>
				</tr>
			</table>
			<br />
			<div class="page-divide-container">
				<div class="two-thirds-column">
					<div>
						<h3 style="margin-right: 10px;">Ingredients &nbsp;&nbsp;&nbsp;<button type="button" onclick="window.location.href='/user/shoppingList/add'" style="height: 30px;">Add to Shopping List</button></h3>
						<table style="margin-left:auto; margin-right: auto; width:100%">
							<tr th:each="ingredient : ${recipe.ingredients}">
								<td th:text="${ingredient.foodText}"></td>
							</tr>
						</table>
					</div>
					<br />
					<div>
						<h3>Steps</h3>
						<table style="margin-left:auto; margin-right: auto; width:100%">
							<tr th:each="step, iterStat : ${recipe.steps}">
								<td th:text="${iterStat.count}"></td>
								<td th:text="${step}"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="one-third-column">
					<div>
						<h3>Health Score</h3>
						<h4 th:text="${recipe.healthScore}" style="text-align: center;"></h4>
					</div>
					<div>
						<h3>Nutritional Info</h3>
						<table style="margin-left:auto; margin-right: auto; width:100%; text-align: center;">
							<tr>
								<td></td>
								<td>% Daily Value</td>
							</tr>
							<tr>
								<td>Calories</td>
								<td th:text="${recipe.calories}"></td>
							</tr>
							<tr>
								<td>Protein</td>
								<td th:text="${recipe.protein}"></td>
							</tr>
							<tr>
								<td>Carbohydrate</td>
								<td th:text="${recipe.carbohydrate}"></td>
							</tr>
							<tr>
								<td>Sugar</td>
								<td th:text="${recipe.sugar}"></td>
							</tr>
							<tr>
								<td>Sodium</th>
								<td th:text="${recipe.sodium}"></td>
							</tr>
							<tr>
								<td>Fat</th>
								<td th:text="${recipe.fat}"></td>
							</tr>
							<tr>
								<td>Saturated Fat</th>
								<td th:text="${recipe.saturatedFat}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	    </div>
	</body>
</html>

