<!DOCTYPE html>
<html>
	<head>
		<title>
			Add Ingredient
		</title>
	</head>
	<body>
		<div>
			<h2>Add Ingredients To Shopping List</h2>
		</div>
		<div>
			<p>Ingredients for <a href="viewRecipePage.html" th:href="@{/recipe/view/}+${recipe.id}"><span th:text="${recipe.name}">recipe name</span></a></p>
		</div>
		<form th:action="@{/user/shoppingList/add}" th:object="${addIngredientForm}" method="post">
			<table>
				<tr th:each="ingredientName, index : *{ingredientNames}">
					<td>
						<input type="checkbox" th:field="*{selectedIngredients}" th:value="${index}" />
					</td>
					<td>
						<input type="text" th:field="${ingredientNames[__${index.index}__]}"/>
					</td>
				</tr>
			</table>
			<input type="submit" value="Add Selected" />
		</form>
	</body>
</html>