<!DOCTYPE html>
<html>
	<head>
		<title>
			Edit Shopping List
		</title>
		<script>
			document.addEventListener("DOMContentLoaded", function(event) {
				const clearSelectedBtn = document.getElementById('clearSelectedBtn');
				clearSelectedBtn.addEventListener("click", (event) => {
					clearItems("clearChecked");
					removeCheckedRows();
				})
				
				const clearAllBtn = document.getElementById('clearAllBtn');
				clearAllBtn.addEventListener("click", (event) => {
					clearItems("clearAll");
					removeAllRows();
				})
				
				const addIngredientInput = document.getElementById("addIngredientInput");
				const addBtn = document.getElementById("addBtn");
				addBtn.addEventListener("click", (event) => {
					var newIngredient = addIngredientInput.value;
					var id = addItem(newIngredient);
					addRow(id, newIngredient);
				})
			});
			
			function clearItems(message) {
			    let xhr = new XMLHttpRequest();
			    xhr.open("POST", "/user/shoppingList/clearItems");
			    xhr.setRequestHeader("Content-Type", "application/json; charset=utf8");
			    xhr.onreadystatechange = function () {
			        if (xhr.readyState == 4 && xhr.status == 200) {
			            console.log("response ok");
			        }
			    }
			    let data = {
			        "message": message,
			    }
			    xhr.send(JSON.stringify(data));    
			}
			
			function removeCheckedRows(){
				const checkboxes = document.getElementsByClassName("shoppingListItem");
				const checkboxesArray = Array.from(checkboxes);
				for (const checkbox of checkboxesArray) {
					if (checkbox.checked){
						checkbox.parentElement.parentElement.remove();
					}
				}
			}
			
			function removeAllRows(){
				const checkboxes = document.getElementsByClassName("shoppingListItem");
				const checkboxesArray = Array.from(checkboxes);
				for (const checkbox of checkboxesArray) {
					checkbox.parentElement.parentElement.remove();
				}
			}
			
			function addItem(newIngredient){
				console.log("add item function");
				let xhr = new XMLHttpRequest();
			    xhr.open("POST", "/user/shoppingList/addItem");
			    xhr.setRequestHeader("Content-Type", "application/json; charset=utf8");
			    xhr.onreadystatechange = function () {
			        if (xhr.readyState == 4 && xhr.status == 200) {
			            console.log("response ok");
			            let data = JSON.parse(xhr.responseText);
			            let newIngredientId = data.id;
			            return newIngredientId;
			        }
			    }
			    let data = {
			        "ingredientName": newIngredient,
			    }
			    xhr.send(JSON.stringify(data));
			}
			
			function addRow(id, ingredientName){
				console.log("add row function");
				console.log("ingredientName: " + ingredientName);
				const itemTable = document.getElementById("itemTable");
				var newRow = itemTable.insertRow(-1);
				var cell1 = newRow.insertCell(0);
				var checkbox = document.createElement("input");
				checkbox.type = "checkbox";
				checkbox.className = "shoppingListItem";
            	checkbox.id = id;
				cell1.appendChild(checkbox);
				var cell2 = newRow.insertCell(1);
				cell2.innerHTML = ingredientName;
			}
		</script>
	</head>
	<body>
		<div>
			<h2>Edit Shopping List</h2>
		</div>
		<div>
			<input type="text" placeholder="Add an ingredient" id="addIngredientInput" />
			<button type="button" id="addBtn">Add</button>
		</div>
		<table id="itemTable">
			<tr th:each="item : ${shoppingList}">
				<td>
					<input type="checkbox" class="shoppingListItem" th:id="${item.id}" th:checked="${item.isChecked}"/>
				</td>
				<td th:text="${item.ingredientName}" >
					Shopping List Item
				</td>
			</tr>
		</table>
		<button type="button" id="clearSelectedBtn">Clear Selected</button>
		<button type="button" id="clearAllBtn">Clear All</button>
	</body>
</html>
