<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Csv Report</title>
	<link href="/style.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<link href="/style2.css" rel="stylesheet" />
	<style>
		.selectBar {
			text-align: center;
		}

		.selectBar form {
			margin: 0 auto;
		}

		.selectBar label {
			display: inline-block;
			width: 100px;
			text-align: right;
			margin-right: 10px;
		}

		.selectBar select {
			width: 150px;
		}

		.selectBar a {
			display: inline-block;
			margin-left: 20px;
		}
	</style>
	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			var select1 = document.getElementById('select1');
			var select2 = document.getElementById('select2');
			select1.value = document.getElementById('preOrderBy').value;
			select2.value = document.getElementById('preOrder').value;
		});
	</script>
</head>

<body>
	<div class="custom-container">
		<div th:replace="fragments/navbar"></div>
	</div>
	<div class="container" style="width: 80%;">
		<h2>Generate Csv Reports</h2>
	</div>
	<input type="hidden" th:value="${previousOrderBy}" id="preOrderBy">
	<input type="hidden" th:value="${previousOrder}" id="preOrder">
	<div class="selectBar">
		<form style="margin: 0 auto; text-align: center;" action="/user/admin/generateCsvReport" method="post">
			<label for="select1">Order by:</label>
			<select id="select1" name="orderBy">
				<option value="rating">Rating</option>
				<option value="numberOfSaved">Number of saved</option>
				<option value="healthScore">Health score</option>
			</select>

			<label for="select2">Order:</label>
			<select id="select2" name="order">
				<option value="desc">Desc</option>
				<option value="asc">Asc</option>
			</select>
			<button type="submit" class="button-style" style="margin:0 10px;">Search</button>
			<button class="button-style" id="downloadButton" onclick="downloadCSV()">Download CSV</button>
		</form>
		<!--<a href="/csv/download" download="output.csv" id="downloadLink">Download CSV</a>-->
	</div>
	<div class="container" style="width: 80%;">
		<p style="text-align: center;" th:if="${#lists.isEmpty(recipes)}">No Records Yet</p>
		<table class="table table-hover" th:if="${not #lists.isEmpty(recipes)}">
			<thead>
				<tr>
					<th scope="col" style="width: 10%;">ID</th>
					<th scope="col" style="width: 45%;">Name</th>
					<th scope="col" style="width: 15%;">Rating</th>
					<th scope="col" style="width: 15%;">Number of saved</th>
					<th scope="col" style="width: 15%;">Health score</th>
				</tr>
			</thead>
			<tbody>
				<tr scope="row" th:each="recipe : ${recipes}">
					<td th:text="${recipe.id}">Recipe ID</td>
					<td><a href="recipeDetailPage.html" th:href="@{/recipe/detail/}+${recipe.id}"
							class="good-link" style="word-wrap: break-word;"><span th:text="${recipe.name}"></span></a></td>
					<td th:text="${recipe.rating}">Rating</td>
					<td th:text="${recipe.numberOfSaved}">Number of saved</td>
					<td th:text="${recipe.healthScore}">Health score</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		function downloadCSV() {
			var select1Value = document.getElementById('select1').value;
			var select2Value = document.getElementById('select2').value;
			var downloadLink = "/csv/download/" + select1Value + "/" + select2Value;

			// 创建一个隐藏的链接元素
			var link = document.createElement("a");
			link.href = downloadLink;
			link.download = "output.csv";

			// 将链接添加到文档中
			document.body.appendChild(link);

			// 模拟点击链接以触发下载
			link.click();

			// 删除添加的链接元素
			document.body.removeChild(link);
		}
		document.getElementById('downloadLink').addEventListener('click', function (event) {
			var select1Value = document.getElementById('select1').value;
			var select2Value = document.getElementById('select2').value;
			var downloadLink = "/csv/download/" + select1Value + "/" + select2Value;
			this.setAttribute('href', downloadLink);
		});
	</script>
</body>

</html>