<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Set Preference</title>
</head>

<body>
	<form id="preferenceForm" action="/user/setPreference" method="post">
		<table>
			<tr th:each="tag : ${tags}">
				<td>
					<input type="checkbox" th:id="${tag}" th:value="${tag}" name="tags" />
					<label th:for="${tag}" th:text="${tag}"></label>
				</td>
			</tr>
		</table>
		<input type="button" value="Submit" onclick="submitForm('submit')" />
		<input type="button" value="Refresh" onclick="submitForm('refresh')" />
	</form>

	<ul>
		<h2>Selected Tags (From Session)</h2>
		<!-- 这里显示session中的tags -->
		<li th:each="tag : ${session.tags}">
			<span th:text="${tag}"></span>
		</li>
	</ul>
	<script>
	function submitForm(actionType) {
		var form = document.getElementById('preferenceForm');
		if (actionType === 'submit') {
			form.action = '/user/setPreference';
		} else if (actionType === 'refresh') {
			form.action = '/user/refresh';
		}
		form.submit();
	}
	</script>
</body>
</html>