<!DOCTYPE html>
<html>
	<head>
		<title>My Profile</title>
		<link href="/style.css" rel="stylesheet"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
		<style>
		button {
			border-radius: 4px;
		}
	</style>
	</head>
	<body>
		<div class="custom-container">
			<div th:replace="fragments/navbar"></div>
		</div>
		<div class="container" style="width: 60%;">
			<h2>My Profile</h2>
			<br />
			<form action="/user/saveProfile" method="post" th:object="${member}">
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{username}" />
				<input type="hidden" th:field="*{password}" />
				<input type="hidden" th:field="*{age}" />
				<input type="hidden" th:field="*{memberStatus}" />
				<input type="hidden" th:field="*{calorieIntake}" />
				<input type="hidden" th:field="*{registrationDate}" />
				
				<div class="form-group">
					<label for="birthdate">Birthdate:</label>
					<input type="date" id="birthdate" name="birthdate" th:value="${#temporals.format(member.birthdate, 'yyyy-MM-dd')}" required>
				</div>
				<div class="form-group">
					<label for="gender">Gender:
					<select id="gender" name="gender" th:field="*{gender}" required>
						<option value="" disabled selected>Select your gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
					</label>
				</div>
				<div class="form-group">
					<label for="height">Height (in cm):</label>
					<input type="number" id="height" name="height" th:field="*{height}" required>
				</div>
				<div class="form-group">
					<label for="height">Weight (in kg):</label>
					<input type="number" id="weight" name="weight" step=".1" th:field="*{weight}" required>
				</div>
				<button type="submit" value="Save">Save</button>
			</form>
		</div>
	</body>
</html>